/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #333;
}


.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  position: relative;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-x: scroll;
  height: 100vh;
}

.scroll-down {
  position: absolute;
  bottom: 20px;
  text-align: center;
}

.scroll-down p {
  margin: 0;
  font-size: 18px;
  color: #333;
  font-size: 15px;
}

.arrow {
  width: 20px;
  height: 20px;
  border: solid #333;
  border-width: 0 3px 3px 0;
  display: inline-block;
  transform: rotate(45deg);
  animation: pulse 1.5s infinite;
  margin-top: 10px;
}

@keyframes pulse {
  0% {
    transform: rotate(45deg) scale(1);
  }
  50% {
    transform: rotate(45deg) scale(1.2);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}

/* NavBar*/

.navbar {
  background-color: #fffdf6;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav-links, .nav-name {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center; 
}

.nav-links li, .nav-name li {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5em;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  margin: 20px; 
}

.nav-name li {
  margin-left: 50px;
}

.nav-links li:nth-child(4) {
  margin-right: 50px;
}

.nav-links li:hover, .nav-name li:hover {
  color: #5856e4;
}

/* Home */
#home {
  background-color: #fffdf6;
}

.image-container {
  text-align: center;
  position: relative;
}

.center-image {
  width: 600px;
  cursor: pointer;
}

.content-container {
  display: flex;
  align-items: center;
}

.image-left {
  flex: 1;
  text-align: left;
}

.left-image {
  width: 600px;
}

.text-right {
  flex: 1;
  padding-left: 20px;
  width: 600px;
}

.text-right p {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 70px;
  line-height: 1.4;
  color: #5856e4;
}

/* About */
#about {
  background-color: #fffdf6;
  padding: 20px; 
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start; 
  position: relative;
}

#about h1 {
  font-size: 90px;
  color: #5856e4;
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  margin-top: 150px;
  margin-left: 50px;
}

#about p {
  color: #333;
  line-height: 1.5;
  margin-left: 50px;
  margin-right: 50px;
}

#about .scroll-down {
  position: absolute;
  bottom: 20px; 
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.profile-card-wrap {
    background-color: #5856e4;
    flex-direction: column;
    width: 50em;
    display: flex;
    position: absolute;
    top: auto;
    bottom: 7.5%;
    left: auto;
    right: 0%;
}

#about h2 {
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
}

#about .profile-text {
  margin-bottom: 30px;
}

.face-reveal-gif {
  /* Adjust width and margin as needed */
  width: 800px;
  display: flex;
  justify-self: left;
    position: absolute;
    top: auto;
    bottom: 7.5%;
}

/* Projects */
#projects {
  background-color: #ffd699;
}

/* Skills*/
#skills {
  background-color: #ccffcc;
}

/* Contact*/
#contact {
  background-color: #5856e4;
  height: 50vh;
  padding: 20px; 
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start; 
}

#contact h1 {
  font-size: 120px;
  color: whitesmoke;
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  margin: 0;
}

#contact p {
  color: whitesmoke;
}

.contact-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  position: absolute;
  bottom: 20px;
  text-align: center;
}

.contact-button p {
  font-size: 18px;
  color: #333;
}

.social-links {
  display: flex;
  justify-content: center; 
}

.circle {
  width: 70px; 
  height: 70px; 
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s, background-color 0.3s;
  margin-top: 30px;
  margin-right: 20px;
  text-decoration: none; 
}

.circle:hover {
  background-color: orange;
}

.email-circle {
  width: 70px; 
  height: 70px; 
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s, background-color 0.3s;
  margin-top: 30px;
  margin-right: 20px;
  text-decoration: none; 
}

.email-circle:hover {
  background-color: orange;
}

.svg-path {
  transition: fill 0.3s;
}