/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  position: relative;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-x: scroll;
  height: 100vh;
}

.scroll-down {
  position: absolute;
  bottom: 20px;
  text-align: center;
}

.scroll-down p {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.arrow {
  width: 20px;
  height: 20px;
  border: solid #333;
  border-width: 0 3px 3px 0;
  display: inline-block;
  transform: rotate(45deg);
  animation: pulse 1.5s infinite;
  margin-top: 10px;
}

@keyframes pulse {
  0% {
    transform: rotate(45deg) scale(1);
  }
  50% {
    transform: rotate(45deg) scale(1.2);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}

/* NavBar*/

.navbar {
  background-color: #fffdf6;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav-links, .nav-name {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center; 
}

.nav-links li, .nav-name li {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5em;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  margin: 20px; 
}

.nav-name li {
  margin-left: 50px;
}

.nav-links li:nth-child(4) {
  margin-right: 50px;
}

.nav-links li:hover, .nav-name li:hover {
  color: #5856e4;
}

/* Home */
#home {
  background-color: #fffdf6;
}

.image-container {
  text-align: center;
  position: relative;
}

.center-image {
  width: 600px;
  cursor: pointer;
}

.content-container {
  display: flex;
  align-items: center;
}

.image-left {
  flex: 1;
  text-align: left;
}

.left-image {
  width: 600px;
}

.text-right {
  flex: 1;
  padding-left: 20px;
  width: 600px;
}

.animated-text {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto; 
  letter-spacing: 0.15em; 
}

/* About */
#about {
  background-color: #e6f7ff;
}

/* Projects */
#projects {
  background-color: #ffd699;
}

/* Skills*/
#skills {
  background-color: #ccffcc;
}

/* Contact*/
#contact {
  background-color: #ffcccc;
}

.contact-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  position: absolute;
  bottom: 20px;
  text-align: center;
}

.contact-button p {
  font-size: 18px;
  color: #333;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Adjust height as needed */
}

.skill {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: grab;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid;
}

.square {
  width: 100px;
  height: 100px;
}

.profile-card-wrap {
  grid-column-gap: 5em;
    grid-row-gap: 5em;
    background-color: green;
    flex-direction: column;
    width: 40em;
    padding: 8em 3em 5em;
    display: flex;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: auto;
    right: 0%;
}
