/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #333;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  position: relative;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-x: scroll;
  height: 100vh;
}

.scroll-down {
  position: absolute;
  bottom: 20px;
  text-align: center;
}

.scroll-down p {
  margin: 0;
  font-size: 18px;
  color: #333;
  font-size: 15px;
}

.arrow {
  width: 20px;
  height: 20px;
  border: solid #333;
  border-width: 0 3px 3px 0;
  display: inline-block;
  transform: rotate(45deg);
  animation: pulse 1.5s infinite;
  margin-top: 10px;
}

@keyframes pulse {
  0% {
    transform: rotate(45deg) scale(1);
  }
  50% {
    transform: rotate(45deg) scale(1.2);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}

/* NavBar*/

.navbar {
  background-color: #fffdf6;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav-links, .nav-name {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center; 
}

.nav-links li, .nav-name li {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5em;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  margin: 20px; 
}

.nav-name li {
  margin-left: 50px;
}

.nav-links li:nth-child(4) {
  margin-right: 50px;
}

.nav-links li:hover, .nav-name li:hover {
  color: #5856e4;
}


.hamburger {
  display: none; /* Hide by default on larger screens */
}

@media (max-width: 768px) {
  .navbar {
    justify-content: flex-end; /* Aligns hamburger menu to the right */
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20px;
    height: 15px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1010; /* Ensure hamburger is above other content */
  }

  .hamburger .line {
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: transform 0.3s, opacity 0.3s;
  }

  .hamburger.open .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.open .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-links {
    display: none;
    width: 50%;
    background: #fffdf6; 
    position: absolute;
    top: 50px;
    flex-direction: column;
    z-index: 1000;
  }

  .nav-links.open {
    display: flex;
    background-color: #5856e4;
  }

  .nav-name {
    font-size: 10px;
    text-align: left;
  }

  .nav-links li {
    text-align: right;
    margin-right: 30px;
    width: 100%;
    font-size: 15px;
  }
}

/* Home */
#home {
  background-color: #fffdf6;
}

.image-container {
  text-align: center;
  position: relative;
}

.center-image {
  width: 600px;
  cursor: pointer;
}

.content-container {
  display: flex;
  align-items: center;
}

.image-left {
  flex: 1;
  text-align: left;
}

.left-image {
  width: 600px;
}

.text-right {
  flex: 1;
  padding-left: 20px;
  width: 600px;
}

.text-right p {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 70px;
  line-height: 1.4;
  color: #5856e4;
}

.home-circle {
  position: absolute;
  top: 20%; /* Align at the top */
  left: 10%; /* Align at the left */
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #5856e4;
  display: flex;
}

/* Media query for smaller screens (up to 768px) */
@media (max-width: 768px) {
  .content-container {
    flex-direction: column-reverse; 
    margin-top: 50px;
  }

  .text-right p {
    font-size: 20px; /* Adjust font size for mobile */
    text-align: center;
  }

  .image-left,
  .left-image {
    width: 350px;
    margin-top: -20px;
  }

  .center-image {
    width: 350px;
  }

  .home-circle {
    display: block; 
    position: relative; 
    margin: 0 auto; /* Center horizontally */
    bottom: auto; /* Reset bottom position */
    transform: none; /* Reset transform */
    margin-top: -30px;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
  }

}

/* About */
#about {
  background-color: #fffdf6;
  padding: 20px; 
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start; 
  position: relative;
}

#about h1 {
  font-size: 100px;
  color: #f54b0c;
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  margin-top: 150px;
  margin-left: 50px;
  line-height: 1.1;
  margin-bottom: 30px;
}

.title-animated-text {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.title-animated-text.visible {
  opacity: 1;
  transform: translateY(0);
}

#about p {
  color: #333;
  line-height: 1.5;
  margin-left: 50px;
  margin-right: 50px;
}

#about .scroll-down {
  position: absolute;
  bottom: 20px; 
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.profile-card-wrap {
    background-color: #eb8366;
    flex-direction: column;
    width: 50em;
    position: relative;
    margin-left: auto; 
}

#about h2 {
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
}

#about .profile-text {
  margin-bottom: 30px;
  color: #333;
}

.face-reveal-gif {
  width: 800px;
  display: flex;
  justify-self: left;
    position: absolute;
    top: auto;
    bottom: 7.5%;
}

@media (max-width: 768px) {
  /* About */
#about {
  background-color: #fffdf6;
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start; 
  position: relative;
}

#about h1 {
  font-size: 40px; /* Reduced font size for mobile */
  color: #f54b0c;
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  margin-top: 70px; /* Adjusted margin for top positioning */
  margin-left: 20px; /* Adjusted margin for left positioning */
  line-height: 1.1;
  margin-bottom: 20px; /* Adjusted margin for bottom spacing */
}

#about p {
  color: #333;
  line-height: 1.5;
  margin-left: 20px; /* Adjusted margin for left positioning */
  margin-right: 20px; /* Adjusted margin for right positioning */
}

.face-reveal-gif {
  width: 100%; /* Full width for mobile screens */
  margin-top: 20px; /* Adjusted margin for spacing */
  bottom: 7.5%;
}
}
/* Modal */
.profile-modal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fffdf6;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.profile-modal.open {
  transform: translateY(0);
}

.profile-modal-content {
  padding: 20px;
  overflow-y: auto;
  max-height: calc(100vh - 60px); /* Adjust as needed */
}

.toggle-profile-btn {
  background-color: #f54b0c;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 20px;
}

.toggle-profile-btn:focus {
  outline: none;
}

.profile-modal h2 {
  margin-top: 0;
  color: #f54b0c;
}

.profile-modal .profile-text {
  color: #333;
  line-height: 1.5;
}

.close-modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #f54b0c;
}

@media (min-width: 769px) {
  /* Adjust styles for larger screens if necessary */
  .profile-modal {
    display: none; /* Hide modal on larger screens */
  }
}

/* Projects */
#projects {
  background-color: #fffdf6;
  padding: 20px; 
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start; 
  position: relative;
}

#projects h1 {
  font-size: 100px;
  color: #5856e4;
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  margin-top: 150px;
  margin-left: 50px;
  line-height: 1.1;
  margin-bottom: 30px;
}

.title-animated-text {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.title-animated-text.visible {
  opacity: 1;
  transform: translateY(0);
}

#projects p {
  color: #333;
  line-height: 1.5;
}

.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-bottom: 30px;
}

.project-card {
  width: 400px; 
  border: none;
  overflow: hidden; 
  position: relative; 
  margin-right: 30px;
}

.icons {
  display: flex;
  justify-content: left;
  margin-bottom: 30px;
}

.project-icon {
  width: 20px; 
  height: 20px; 
  margin: 0 5px; 
}

.project-image {
  width: 100%; 
  display: block;
  margin-bottom: 15px;
  transition: transform 0.3s ease-in-out;
}

.project-image-container {
  overflow: hidden; /* Ensure image doesn't overflow its container */
}

.project-image:hover {
  transform: scale(1.2); /* Zoom effect on hover */
}

.project-info p {
  text-align: left;
  margin-top: 30px;
  margin-left: 10px;
}

.project-arrow {
  width: 10px;
  height: 10px;
  border: solid #333;
  border-width: 0 2px 2px 0;
  display: inline-block;
  transform: rotate(45deg);
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.buttons {
  display: flex;
  justify-content: left;
}

.button {
  padding: 10px 20px;
  background-color: #5856e4;
  color: whitesmoke;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
  margin-right: 20px;
}

.button:hover {
  background-color: #ec670f; 
}

#projects .scroll-down {
  position: absolute;
  bottom: 20px; 
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

#projects h2 {
  margin-bottom: 15px;
}

/* Skills*/
#skills .section {
  position: relative;
}
#skills {
  background-color: #fffdf6;
  padding: 20px; 
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start; 
  position: relative;
}

#skills h1 {
  font-size: 100px;
  color: #f54b0c;
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  margin-top: 150px;
  margin-left: 50px;
  line-height: 1.1;
  margin-bottom: 30px;
}

#skills p {
  color: #333;
  line-height: 1.5;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
}

#skills .scroll-down {
  position: absolute;
  bottom: 20px; 
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column; 
  align-items: center; 
}


.skills-container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  margin-left: 0;
  width: 70%;
}

.skills-card {
  width: 200px; /* Adjust as needed */
  border: none;
  overflow: hidden; /* Ensure content doesn't overflow */
  position: relative; /* Ensure proper stacking */
  margin-bottom: 20px;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.skills-card.visible {
  opacity: 1;
  transform: translateY(0);
}

.skills-card h2 {
  font-size: 15px;
  margin-top: 1opx
}

.hand-gif {
  width: 250px;
  display: flex;
  justify-self: right;
    position: absolute;
    top: auto;
    right: 15%;
    bottom: -10%;
}

.skills-content {
  padding: 20px;
}

.skills-icon {
  margin-right: 10px;
  background-color: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.skills-card img {
  height: 40px;
  width: auto;
  margin-bottom: 10px;
}

/* Contact*/
#contact {
  background-color: #5856e4;
  height: 50vh;
  padding: 20px; 
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start; 
}

#contact h1 {
  font-size: 100px;
  color: whitesmoke;
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  margin: 0;
}

#contact p {
  color: whitesmoke;
}

.contact-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  position: absolute;
  bottom: 20px;
  text-align: center;
}

.contact-button p {
  font-size: 18px;
  color: #333;
}

.social-links {
  display: flex;
  justify-content: center; 
}

.circle {
  width: 70px; 
  height: 70px; 
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s, background-color 0.3s;
  margin-top: 30px;
  margin-right: 20px;
  text-decoration: none; 
}

.circle:hover {
  background-color: orange;
}

.email-circle {
  width: 70px; 
  height: 70px; 
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s, background-color 0.3s;
  margin-top: 30px;
  margin-right: 20px;
  text-decoration: none; 
}

.email-circle:hover {
  background-color: orange;
}

.svg-path {
  transition: fill 0.3s;
}